div.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
}

div img.logo {
    width: 3rem;
    height: 3rem;
    animation: rotation 5s infinite linear;
    padding: 0 4rem;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

div ul.shortcuts-options {
    list-style-type: none;
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding-right: 4rem;
}